.carousel {
  padding: 30px;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  color: white;
}
.carousel-indicators {
  bottom: 50px;
}

.movie-gallery {
  margin: 100px 200px;
}

.movie-gallery h1 {
  font-size: 4em;
  text-align: center;
  padding-bottom: 90px;
  font-weight: 400;
}

.card {
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


.register-container {
  display: flex;
  margin: 100px auto;
  width: 850px;
  height: 650px;
  box-shadow: 7px 3px 8px 3px #dbd9d9;
}

.register-form {
  flex: 1;
  padding: 0 70px;
  width: 425px;
}

.register-container img {
  margin-left: 85px;
  margin-bottom: 0;
}

.register-container hr {
  margin-top: 0;
}

.register-form p {
  font-weight: bold;
  margin-bottom: 0;
}

.register-form label {
  font-weight: bold;
  padding-bottom: 25px;
  padding-top: 0;
}

.register-form input {
  display: block;
  width: 100%;
  border: 1px solid #c4c4c4;
  padding: 6px;
  border-radius: 3px;
}

.register-container button {
  margin-left: 30%;
}

.register-sidebar {
  background-color: #007bff;
  color: white;
  padding: 210px 55px;
  height: 650px;
  width: 425px;
}

.register-sidebar h4 {
  padding-bottom: 10px;
  font-weight:400;
  font-size: 24px;
}

.register-sidebar p {
  font-size: 14px;
}
