.carousel {
  padding: 30px;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  color: white;
}
.carousel-indicators {
  bottom: 50px;
}

/* .card-img-top {
  height: 300px;
  width: 100%;
} */

.now-playing {
  margin: 100px 200px;
}

.now-playing h1 {
  font-size: 4em;
  text-align: center;
  padding-bottom: 90px;
  font-weight: 400;
}

.card {
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
